@mixin flex($justify, $alignItem, $wrap, $textAlign) {
    display: flex;
    justify-content: $justify;
    align-items: $alignItem;
    flex-wrap: $wrap;
    text-align: $textAlign;
}

%handMargin {
    margin: 25px 15% 50px 15%;
}

%mainMinHeight {
    min-height: 60vh;
}

%otherMinHeight {
    min-height: 15vh;
}

%resetPadMar {
    padding: 0;
    margin: 0;
}

.mainContent {
    box-sizing: border-box;
    max-width: 1680px;
    @extend %resetPadMar;

    .handbot {
        background-color: blue;
        @extend %otherMinHeight;
        @extend %handMargin;
        @include flex(space-between, initial, nowrap, initial);
    }

    .plateau {
        @extend %mainMinHeight;
        @include flex(space-between, initial, nowrap, initial);

        .pioches {
            background-color: #ffcccc;
            width: 15%;
            @include flex(center, initial, wrap, initial);

            figure {
                background-color: yellow;
                @extend %otherMinHeight;
                @include flex(center, center, wrap, center);

            }
        }

        .areaOfGame {
            background-color: red;
            width: 70%;
            @extend %mainMinHeight;
            @include flex(space-between, center, wrap, initial);
        }

        .scoreAndEffect {
            background-color: #cc3300;
            width: 15%;
            @extend %mainMinHeight;
            @include flex(center, flex-start, wrap, center);

            .playerScore, .botScore {
                width: 40%;
                margin : 0;
                font-size: 20px;
            }
        }    
    }

    .handplayer {
        background-color: blue;
        @extend %otherMinHeight;
        @extend %handMargin;
        @include flex(space-between, initial, nowrap, initial);
    }
}

.preview {
  position: fixed;
  left: calc(50% - 113px);
  bottom: calc(50% - 156px);
  @include flex(space-between, initial, wrap, justify)
}

.hide {
    display: none;
}